{% extends "home.twig" %}

{% block content %}
<!-- Page Content -->
<section class="content">
    <div class="container">
        <h2>Voici mon histoire ...</h2>

        {% for article in articles %}

            <div class="articles">
                <div class="header_articles">
                    <a href="http://localhost/blog/?page=article&id={{ article.id }}"><h3 style="width: 90%;" class="title_header">{{ article.titre | raw }}</h3></a>
                </div>
                <div class="body_articles">
                    <p>{{ article.texte  | slice(0, 500) | raw  }} ... <p>
                </div>
                <div class="footer_articles">
                    <p>{{ article.date|date("d/m/Y") }}<i  id="icon_footer_articles" class="fas fa-calendar-alt fa-lg"></i></p>
                    <p id="comment_nmbr"> {{ article.commentaires|length }}<i style="margin-right: 15px;" id="icon_footer_articles" class="fas fa-comments fa-lg"></i></p>
                </div>
            </div>

        {% endfor %}

    </div>
</section>

{% endblock %}