{% extends "home.twig" %}

{% block content %}
    <!-- Page Content -->
    <section class="content">
        <div class="container">

            <div class="article">
                <div class="header_articles">
                    <div class="title_header">
                        <a href="http://localhost/blog/?page=article&id={{ article.id }}"><h3>{{ article.titre }}</h3></a>
                    </div>
                    {% if session.statut == true %}
                    <div class="delete_header">
                        <a href="http://localhost/blog/?page=delete_article&id={{ article.id }}"><img class="delete_btn" title="supprimer" alt="supprimer" src="web/img/delete.svg" width="27em" height="auto"></a>
                        <a href="http://localhost/blog/?page=modify_article&id={{ article.id }}"><img class="modify_btn" title="editer" alt="editer" src="web/img/modify.svg" width="30em" height="auto"></a>
                    </div>
                    {% endif %}
                </div>
                <div class="body_articles">
                    <p>{{ article.texte| convert_encoding('UTF-8', 'ISO-8859-1') }} <p>
                </div>
                <div class="footer_articles">
                    <p>Publié le {{ article.date|date("d/m/Y") }}</p>
                </div>
            </div>



            <div class="comment_form">

                <form action="http://localhost/blog/?page=post_comment" method=POST>
                    Titre:<input name="commentaire[0][auteur]"/>
                    texte:<input name="commentaire[0][texte]"/>
                    <input style="visibility: hidden;" value="{{ article.id }}" name="commentaire[0][id_article]">
                    <input type="submit" value="Submit">
                </form>

            </div>



            <div class="commentaires">


                {% for commentaire in commentaires %}

                    <div class="commentaire" id="commentaire_{{ commentaire.id }}">
                        <div class="header_commentaire">
                            <div class="auteur_commentaire">
                                <h4>{{ commentaire.auteur }} </h4>
                                <p>Publié le {{ commentaire.date|date("d/m/Y") }}</p>
                            </div>
                            {% if session.statut == true %}
                                <div class="delete_header">
                                    <a href="http://localhost/blog/?page=delete_comment&id={{ commentaire.id }}" ><img onclick="myFunction({{ commentaire.id }})" class="delete_btn" title="supprimer" alt="supprimer" src="web/img/delete.svg" width="27em" height="auto"></a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="texte_commentaire">
                            <p>{{ commentaire.texte }}</p>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>

    </section>

{% endblock %}



{% block script %}


<script>


</script>

{% endblock %}