{% extends "home.twig" %}

{% block content %}
<!-- Page Content -->
<section class="content">
    <div class="container">

        {% for article in articles %}

            <div class="articles">
                <a href="?page=article&id={{ article.id }}">
                <div class="header_articles">
                    <h3 class="title_header">{{ article.titre | raw }}</h3>
                </div>
                </a>
                <div class="body_articles">
                    <p>{{ article.texte  | slice(0, 500) | raw  }} ... <p>
                </div>
                <div class="footer_articles">
                    <p>{{ article.date|date("d/m/Y") }}<i  id="icon_footer_articles" class="fas fa-calendar-alt fa-lg"></i></p>
                    <p id="comment_nmbr"> {{ article.commentaires|length }}<i style="margin-right: 15px;{% if article.signaledCommentaires == true and session.statut == true %}color: #D14B4B;{% endif %}" id="icon_footer_articles" class="fas fa-comments fa-lg"></i></p>

                </div>
            </div>

        {% endfor %}
        <div class="pagination_container">
            <div class="pagination">
                {% for i in 1..pagination %}
                    <a class="{% if page == i %}selected{% endif %}" href="?page=home&index={{ i }}">{{ i }}</a>
                {% endfor %}
            </div>
        </div>

    </div>
</section>

{% endblock %}


{% block script %}

{% endblock %}